@font-face {
    font-family: head;
    src: url(/Oswald-Regular.ttf);
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#teams {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}