@font-face {
    font-family: head;
    src: url(/Oswald-Regular.ttf);
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 800px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/header-bg0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 5px;
}

header h1 {
    font-size: 50px;
}

header h2 {
    font-size: 42px;
}

header h3 {
    font-size: 30px;
}

header h1, header h2, header h3 {
    font-family: head;
    color: white;
    margin: 0;
    padding: 10px;
}

#popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#teams {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}